*{
    scroll-behavior: smooth;
  }
  
  body{
      margin: 0;
      padding:0;
      background: no-repeat;
      background-image: linear-gradient(to left top, #000000, #0a0809, #121010, #181516, #1d1a1a, #221e1e, #262323, #2b2727, #312c2c, #363131, #3c3636, #423b3b);
      overflow-x: hidden;
      font-family: 'Open Sans', sans-serif;
  }

/* Nav */
#navbar {
    position: sticky;
    top: 0%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(4px);
    color: #000;
    z-index: 999;
}

#nav-logo {
    height: 50px;
    width: auto;
    margin: .5rem;
    margin-left: 30px;
    position: relative;
    top: 0;
    transform: translateX(0%);
    transition: transform .5s ease-out;
}

#nav-links ul {
    margin: 0;
    padding: 0;
    margin-right: 30px;
    display: flex;
}

#nav-links li {
    list-style: none;
    font-size: 1.2rem;
}

#nav-links li a {
    text-decoration: none;
    color: #fff;
    padding: 1rem;
    display: block;
}

#nav-links a:hover {
    color: #f8c913;
}
/* Nav Burger */
#nav-toggle-button {
    position: absolute;
    top: 1.6rem;
    right: 1rem;
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

#nav-toggle-button .nav-toggle-bar1 {
    height: 3px;
    width: 100%;
    background-color: #f8c913;
    background-color: 10px;
    transition: .5s ease-in-out;
}

#nav-toggle-button .nav-toggle-bar2 {
    height: 3px;
    width: 100%;
    background-color: #f8c913;
    background-color: 10px;
    transition: .5s ease;
}

#nav-toggle-button .nav-toggle-bar3 {
    height: 3px;
    width: 100%;
    background-color: #f8c913;
    background-color: 10px;
    transition: .5s ease-in-out;
}

@media (max-width: 600px) {

    #nav-logo {
        position: relative;
        top: 0;
        right: 225px;
        transform: translateX(405%);
        transition: transform 1s ease-out;
    }

    #nav-toggle-button {
        display: flex;
    }

    #nav-links {
        display: none;
    }

    #navbar {
        flex-direction: column;
        align-items: center;
    }

    #nav-links ul {
        width: 100%;
        flex-direction: column;
    }

    #nav-links li {
        text-align: center;
    }

    #nav-links li a {
        padding: .5rem 1rem;
    }
}

/* animation burger */

.open-hamburger .nav-toggle-bar2{
    opacity: 0;
}

.open-hamburger .nav-toggle-bar1{
    transform: rotate(45deg) translateY(13px);
}

.open-hamburger .nav-toggle-bar3{
    transform: rotate(-45deg) translateY(-13px);
}

.separator {
    width: 72%;
    height: 3px;
    border-radius: 20px;
    background-color: aliceblue;
}

/* Fin nav*/



/* maquette */

#pdf {
    width:100%;
     height: 800px; 
}
.titre {
    font-family: "YAE28xKCyWo 0", _fb_, auto;
    font-size: 52.058px;
    color: rgb(255, 255, 255);
    line-height: 102px;
    letter-spacing: 0em;
    --para-spacing: 0;
    text-transform: uppercase;
    --head-indent: 0;
    --numeric-list-marker: none;
    list-style-type: none;
    position: relative;
    display: flex;
    justify-content: center;
}

.topt{
    position: absolute;
    place-content: center;
    height: 75%;
    display: grid;
    width: 100%;
}
.separator2 {
    position:right;
    width: 72%;
    height: 3px;
    border-radius: 20px;
    background-color: aliceblue;
}